<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Cosmopolis <sup>&beta;</sup></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto mb-2 mb-md-0">

        <li class="nav-item">
          <a class="nav-link" href="/school">Schools</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/group">Groups</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
<!--

        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="/view/home">Home</a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="/view/friends">Friends</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/view/inbox">Inbox <span class="badge bg-secondary">4</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/view/friends">Wall</a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="/view/friends">Timeline</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false">Settings</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="/account/logout">Logout <span class="text-warning"><%= account %></span></a>
        </li>


      </ul>
      <form class="d-flex">
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
